<!DOCTYPE html>
<html ng-app="personApp">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />

<title>AngularJS Person Manager</title>
<link href='../css/style.css' rel="stylesheet" type="text/css" />
<link href='../css/css/font-awesome.css' rel="stylesheet" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
<script data-require="angular.js@*" data-semver="1.3.0-beta.14" src="http://code.angularjs.org/1.3.0-beta.14/angular.js"></script>
<script data-require="angular-animate@*" data-semver="1.3.0-beta.14" src="http://code.angularjs.org/1.3.0-beta.14/angular-animate.js"></script>
<script type="text/javascript" src="../js/app.js"></script>
</head>
<body>
	 
	<div ng-controller="personController">
		<h2 class="page-title">Person Manager using Spring Boot, Spring Data REST, AngularJS, MongoDB, JUnit</h2>
		 
		<div id="person-panel" class="fadein fadeout showpanel panel" ng-show="toggle">
			  
			<div class="panel-heading">
				   <i class="panel-title-icon fa fa-persons"></i>    <span class="panel-title">Person List</span>    
				<div class="panel-heading-controls">
					    
					<button ng-click="toggle = !toggle" class="btn-panel">Add New Person</button>
					   
				</div>
				  
			</div>
			  
			<div class="panel-body">
				   
				<div class="person" ng-repeat="person in persons">
					    
						     <a href="#">       {{person.name}}						</a>     
					
						     <a href="#">       {{person.age}}						</a>  
					   
				</div>
				  
			</div>
			 
		</div>
		 
		<div id="add-person-panel" class="fadein fadeout addpanel panel" ng-hide="toggle">
			  
			<div class="panel-heading">
				   <i class="panel-title-icon fa fa-plus"></i>    <span class="panel-title">Add Person</span>    
				<div class="panel-heading-controls">
					    
					<button ng-click="toggle = !toggle" class="btn-panel">Show All Persons</button>
					   
				</div>
				  
			</div>
			  
			<div class="panel-body">
				   
				<div class="person">
					    
					<table class="add-person">
						<tr>
							<td>Person Name:</td>
							<td><input type="text" ng-model="personName" /></td>
						</tr>
						<tr>
							<td>Person Age:</td>
							<td><input type="text" ng-model="personAge" /></td>
						</tr>

						<tr>
							<td>
								<button ng-click="addperson()" class="btn-panel-big">Add New Person</button>
							</td>
						</tr>

					</table>

				</div>
				  
			</div>
			 
		</div>
	</div>
</body>
</html>